<ion-header >
  <ion-toolbar [ngStyle]="{'background': color}" [color]="color">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="closeModal()" style="color:white">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Seleccionar ubicación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="searchBar">
    <ion-item (click)="selectLocationFromMap()">
      <ion-icon name="search" item-start></ion-icon>
      <p *ngIf="!address.direction">Buscar dirección...</p>
      <p *ngIf="address.direction">{{address.direction}}</p>
    </ion-item>
  </div>
  <h4 class="lineTop" [ngStyle]="{'color': color}">Sugerencias</h4>
  <p *ngIf="loading == true || reports.length > 0">Encontramos cerca a tu ubicación estos reportes, puedes comentarlos o generar uno nuevo.</p>

  <ion-list no-lines>
    <ion-item *ngFor="let report of reports| slice:0:currentPage" (click)="viewReport(report)">
      <ion-grid>
        <ion-row class="noPadding">
          <ion-col col-1>
            <img [src]="report.rutaIconoVentana" alt="" style="width: 40px">
          </ion-col>
          <ion-col col-11 text-wrap>
            <h5 [ngStyle]="{'color': color}">{{report?.nombreRecurso}}</h5>
            <p>{{report?.nombreAfectacion}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <div text-center>
    <ion-spinner *ngIf="loading == true"></ion-spinner>
  </div>

  <ion-label text-wrap no-margin class="reports" [ngStyle]="{'text-decoration-color':color}" *ngIf="showMore == true">
    <strong [ngStyle]="{'color': color}" (click)="viewMore()">Ver mas reportes</strong>
  </ion-label>
  <!-- <button (click)="viewMore()" *ngIf="showMore == true" [ngStyle]="{'background-color': color}" ion-button>
      Ver mas reportes
    </button>   -->
  <ion-button [ngStyle]="{'background-color': color}" [color]="color" expand="full" (click)="generateReport()">Generar nuevo reporte</ion-button>
</ion-content>