<div class="detailContainer">
  <ion-header>
      <ion-toolbar
          [color]="appContext.color"
          [ngStyle]="{ 'background-color': appContext.color }"
      >
          <ion-title>
              <span
                  ><img
                      [src]="icon"
                      alt="icon"
                      id="modalIcon"
                      style="width:3.5rem; height: 3.5rem;"
                  />
              </span>
              <span class="titulo">{{ title }}</span>
          </ion-title>
          <ion-buttons slot="end">
              <ion-button icon-only (click)="closeModal()">
                  <ion-icon name="close"></ion-icon>
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <ion-content>
      <div
          *ngIf="!isEnciclaDetail && !isrecargaDetail"
          style="text-align: left; padding: 15px"
      >
          <div class="banner-icon-civica" id="{{ desc.id }}"></div>
          <div
              style="text-align: center; margin-top: -10px;"
              *ngIf="!data.nombreMunicipio"
          >
              <span class="textBanner">{{ title }}</span>
          </div>

          <ion-row style="margin:10px 0px;">
              <ion-col col-12 style="margin-top: -20px; padding:0px;">
                  <h1 style="text-align: center; font-size: 2rem">
                      {{ desc.desc }}
                  </h1>
              </ion-col>
          </ion-row>

          <ion-row *ngIf="data.nombreMunicipio">
              <ion-col col12>
                  <span class="textBanner">{{ data.nombreMunicipio }}</span>
              </ion-col>
          </ion-row>

          <ion-row *ngIf="data.nombreMunicipio">
              <ion-col col12>
                  <span class="textBanner">{{ data.descripcion }}</span>
              </ion-col>
          </ion-row>

          <div
              id="tableDetail"
              *ngIf="desc.rutas != undefined && !data.nombreMunicipio"
          >
              <span id="titulo">Detalle</span>
              <div
                  *ngFor="let linea of desc.rutas; let i = index"
                  class="row-table"
              >
                  <ion-grid (click)="toggleDetalle(i)">
                      <ion-row>
                          <ion-col col-10>
                              {{ linea.descripcion }}
                          </ion-col>
                          <ion-col col-2>
                              <ion-icon
                                  class="iconFlecha"
                                  name="{{ iconClass }}"
                              ></ion-icon>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                  <div class="detalle-ruta hideDetalle" id="{{ i }}">
                      <div class="itemDetail">
                          <span
                              class="labelsDetalle"
                              [ngStyle]="{ color: appContext.color }"
                              >Empresa:
                          </span>
                          <span
                              *ngIf="data.nombreModoEstacion"
                              class="labelsDes"
                          >
                              Metro De Medellín
                          </span>
                          <span
                              *ngIf="
                                  linea.empresas && linea.empresas.length > 0
                              "
                              class="labelsDes"
                          >
                              {{ linea.empresa }}
                          </span>
                      </div>

                      <div class="itemDetail">
                          <span
                              class="labelsDetalle"
                              [ngStyle]="{ color: appContext.color }"
                              >Horario:
                          </span>
                          <span
                              *ngIf="
                                  linea.horariosRuta &&
                                  linea.horariosRuta.length > 0
                              "
                              class="labelsDes"
                              >{{
                                  common.convertTime24to12(
                                      linea.horariosRuta[0]
                                          .horaInicioOperacion
                                  )
                              }}
                              a
                              {{
                                  common.convertTime24to12(
                                      linea.horariosRuta[0].horaFinOperacion
                                  )
                              }}</span
                          >
                          <span
                              *ngIf="
                                  linea.horariosLinea &&
                                  linea.horariosLinea.length > 0
                              "
                              class="labelsDes"
                              >{{
                                  common.convertTime24to12(
                                      linea.horariosLinea[0]
                                          .horaInicioOperacion
                                  )
                              }}
                              a
                              {{
                                  common.convertTime24to12(
                                      linea.horariosLinea[0].horaFinOperacion
                                  )
                              }}</span
                          >
                      </div>

                      <div class="itemDetail">
                          <span
                              class="labelsDetalle"
                              [ngStyle]="{ color: appContext.color }"
                              >Tarifa:
                          </span>
                          <span *ngIf="linea.tarifa" class="labelsDes">{{
                              linea.tarifa
                          }}</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div *ngIf="isEnciclaDetail">
          <!-- <ion-row> -->
          <div class="banner-icon" id="bannerIcon"></div>
          <div
              style="text-align: center; margin-top: -10px;"
              *ngIf="data.tipoEstacion != undefined"
          >
              <span *ngIf="data.tipoEstacion == 'A'" class="textBanner"
                  >Estacion Automatica</span
              >
              <span *ngIf="data.tipoEstacion == 'M'" class="textBanner"
                  >Estacion Manual</span
              >
          </div>
          <!-- </ion-row> -->

          <ion-row style="margin:10px 0px;">
              <ion-col col-12>
                  <h1
                      *ngIf="data.nombre.length < 18"
                      style="text-align: center; font-size: 2rem"
                  >
                      {{ data.nombre }}
                  </h1>
                  <h1
                      *ngIf="data.nombre.length >= 18"
                      style="text-align: center; font-size: 2.5rem"
                  >
                      {{ data.nombre }}
                  </h1>
                  <p class="description">{{ data.descripcion }}</p>
                  <p class="description">{{ data.direccion }}</p>
              </ion-col>
          </ion-row>

          <ion-row style="margin:3rem 3rem;">
              <div
                  style="width: 50%;"
                  *ngIf="data.cantidadBicicletasDisponibles >= 0"
              >
                  <div class="iconDetail" id="bicicletas"></div>
                  <div class="servicio" style="margin: 0px auto;">
                      <span style="font-size:2.7rem">{{
                          data.cantidadBicicletasDisponibles
                      }}</span>
                      <div>Bicicletas Disponibles</div>
                  </div>
              </div>
              <div
                  style="width: 45%; margin-left:5px;"
                  *ngIf="
                      data.tipoEstacion != 'M' &&
                      data.cantidadPuestosDisponibles >= 0
                  "
              >
                  <div class="iconDetail" id="puestos"></div>
                  <div class="servicio" style="margin: 0px auto;">
                      <span style="font-size:2.7rem">{{
                          data.cantidadPuestosDisponibles
                      }}</span>
                      <div>Puestos Disponibles</div>
                  </div>
              </div>
          </ion-row>
      </div>

      <div *ngIf="isrecargaDetail">
          <div class="banner-icon-civica " id="civica"></div>
          <div style="text-align: center; margin-top: -10px;">
              <span class="textBanner">{{ subtitle }}</span>
          </div>

          <ion-row style="margin:10px 0px;">
              <ion-col col-12>
                  <h1 style="text-align: center; font-size: 2rem">
                      {{ desc.desc }}
                  </h1>
              </ion-col>
          </ion-row>
      </div>

      <div *ngIf="data.nombreModoEstacion != 'ENCICLA'" id="actionsContainer">
          <ion-button
              ion-button
              class="ion-button  addbtn"
              [ngStyle]="{ background: appContext.color }"
              (click)="calcularRuta()"
          >
              Ir
          </ion-button>
          <!-- <ion-button (click)="calcularRuta()"  >Establecer ruta</ion-button> -->
      </div>
  </ion-content>
</div>
