<ion-header>
  <ion-toolbar class="header-custom">
    <img
      id="imgHome"
      width="45px"
      height="45px"
      style="margin: 10px 15px"
      item-left
      src="./assets/logo2.png"
      slot="start"
    />
    <ion-title class="ion-text-center">Reportar</ion-title>
    <ion-buttons slot="end" class="mini">
      <ion-menu-button
        menuToggle
        icon-only
        style="color: white"
        class="mini"
        id="toggle"
      >
        <ion-icon name="settings" clear></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="dataImage.length === 0">
      <ion-col>
        <button class="box" (click)=" presentActionSheet()">
          <ion-icon name="camera-sharp"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <div *ngIf="dataImage.length > 0">
      <ion-row>
        <ion-col class="container-custom">
          <ion-slides
            class="swiper-container"
            pager="true"
            [options]="slideOps"
          >
            <ion-slide class="swiper-wrapper">
              <button
                class="box-button ion-slide-custom"
                (click)="presentActionSheet()"
              >
                <ion-icon name="camera-sharp"></ion-icon>
              </button>
            </ion-slide>
            <ion-slide
              class="ion-slide-custom"
              *ngFor="let imagen of dataImage"
            >
              <img class="swiper-slide" [src]="imagen.url" alt="" srcset="" />
              <button class="btn-edit">
                <ion-icon name="create-outline"></ion-icon>
              </button>
              <button class="btn-delete" (click)="borrarImagen(imagen.id)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <form [formGroup]="formRegistro">
        <ion-row class="input-row">
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nombre común</ion-label>
              <ion-input formControlName="nombreComun"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nombre cientifico</ion-label>
              <ion-input formControlName="nombreCientifico"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Descripción</ion-label>
              <ion-input formControlName="descripcion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="especie" class="row-especie-sugerida">
          <ion-col class="especie-sugerida">
            <app-especie-sugerida  [especie]="especie" (especieSeleccionada)="seleccionarEspecieIA($event)"></app-especie-sugerida>
          </ion-col>
        </ion-row>

        <div class="container-buttons">
          <ion-row>
            <ion-col>
              <ion-button
                class="button-guardar"
                expand="block"
                [disabled]="!formRegistro.valid"
                (click)="guardarRegistro(formRegistro.value)"
                >Guardar</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="button-publicar" expand="block"
                >Publicar</ion-button
              >
            </ion-col>
          </ion-row>
        </div>
      </form>
    </div>
  </ion-grid>
</ion-content>
