<ion-button *ngIf="layerLevel=='CAPA'" class="vertical-divider" style="border-radius:0;" ion-fab (click)="onTapLayer()" [ngStyle]="{'background-color':color}">
  <img style="height: auto; width: 3rem;" [src]="layer.urlIcon" *ngIf="!isLoading">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <label class="fab-label">{{layer.name}}</label>
</ion-button>

<ion-button *ngIf="layerLevel=='CATEGORIA'" class="vertical-divider categoria" (click)="onTapLayer()">
  <img *ngIf="!isLoading" style="height: auto; width: 3rem;" [src]="layer.urlIcon" />
  <ion-spinner color="{{ getLegendColor(layer.id) }}" *ngIf="isLoading"></ion-spinner>
  <br>
  <label class="badge-label" [style.font-weight]="layer.visible ? 700 : null" [style.color]="getColorSelectedLayer()">
      {{layer.name }}
  </label>
  <div *ngIf="layer.polygons && layer.polygons.length > 0" class="badge" style="height: 0.2rem; width: 4rem; border-radius: 1rem; margin: 0 auto"
      [style.background-color]="getLegendColor(layer.id)"></div>
</ion-button>