
.menu-inner .item {
    background-color: springgreen;
}
.menu-inner>ion-header,
.menu-inner>ion-content,
.menu-inner>ion-footer {
    background-color: skyblue;
}
.styleTitle {
    font-size: 1.4rem;
    text-shadow: 1px 1px #333;
    color: white;
}