.card-md {
    margin: 0px !important;
    border-radius: 1px !important;
    font-size: 1.4rem !important;
    background: rgba(255, 255, 255, 0.77) !important;
    position: absolute !important;
    z-index: 999 !important;
    width: 100% !important;
    overflow: scroll !important;
    height: auto;
}

.fullCard{
  overflow: scroll !important;
  height: 100% !important;
}

.svgIconArrow{
  width:20px;
  height: 20px;
}



  .item-md {
    padding-left: 10px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}


  .iconsViajesConLabel {
     width: 3.5rem;
    vertical-align: middle;
    position: relative;
  top: 7px;
  margin-left: -21px;
  }

  .iconsViajes {
    width: 3rem;
    vertical-align: middle;
    position: relative;
    right: -2px;
    max-height: 3rem;
  }


  .iconFlecha {
    width:8px;
    vertical-align: middle;
   position: relative;
    top: 6px;


  }

  .iconDbFlecha {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 5px;
  }


  .iconsInc {
    width:2rem;
    vertical-align: middle;
  }

  .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
    width: 3rem;
    height: 3rem;
    margin: 0px auto;
  }

  ion-buttons.volver {
    position:absolute;
    left:10px;
  }

  .btnViajesSug{
    padding-left: 0px;
  }

  .divFondo{
    background: #0060B6;
    width: 66px;
    height:auto;
    position: relative;
    top: -3px;
  }


   .item-md ion-thumbnail[item-start] {
    margin: 2px -2px 1px 0;
}

.item-md ion-thumbnail {
    min-width: 20px;
    min-height: 20px;
}

 .item-md ion-thumbnail {
    width: 50px;
    height: 50px;
  position: relative;
   top: -4px;
}


.card-content-md {
     padding: 0px 0px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.labelTras{
      font-size: 9px;
    background-color: #006fac;
    color: #fff;
    position: relative;
  top: -19px;
  left: 10px;

  }



.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
   width:30px;
   height: 30px;
   margin: 0px auto;
}

.labelInfoCu{
  font-size: 11px;
  color: #fff;
  margin: 5px auto;
}

.labelParr{
  font-size: 10px;
  color: #858585;
}


.rowTexdown{
    height: 11px;
    margin-left: 9px;
}

.rowViaje{
  height: 33px;
  margin-left: 9px;
  margin-top: 6px;
  width: 85%;
}



  .gridViaje{
    width: 96% !important;
  }


.slideIcons{
  width: 40px !important;
}

.slideFlecha{
  width: 20px !important;
}

 .dobleFlecha{
 position: relative;
left: 225px;
top: -21px;

}

//Media querys para slider

@media only screen and (min-width: 320px){

    .rowViaje{
    height: 45px;
    margin-left: 9px;
    margin-top: 6px;
    width: 90%;
    }

    .dobleFlecha{
     position: relative;
    left: 187px;
    top: -26px;
    }
  }

  @media only screen and (min-width: 360px){

    .rowViaje{
    height: 45px;
    margin-left: 9px;
    margin-top: 6px;
    width: 88%;
    }

    .dobleFlecha{
     position: relative;
    left: 226px;
    top: -26px;
    }

    
  }

  @media only screen and (min-width: 384px){

    .rowViaje{
    height: 45px;
    margin-left: 9px;
    margin-top: 6px;
    width: 88%;
    }

    .dobleFlecha{
     position: relative;
    left: 237px;
    top: -26px;
    }
  }


  @media only screen and (min-width: 412px){


    .rowViaje{
    height: 45px;
    margin-left: 9px;
    margin-top: 6px;
    width: 86%;
    }

    .dobleFlecha{
     position: relative;
    left: 257px;
    top: -26px;
    }
  }

  .iconsInfo {
        width: 3rem;
    vertical-align: middle;
    position: relative;
    top: 5px;
    left: 17px;
  }

  .iconsSaFi {
   width: 2.3rem;
    vertical-align: middle;
    position: relative;
    left: 30px;
  }




  .pInforV{
    color:black;
    font-size: 11px;
  }

  .pInforVD{
    color:#858585;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
  }


  .pInforSalida{
    color:#858585;
    font-size: 11px;
    position: relative;
    left: 31px;
    top: -2px;
  }

  .labelNumRL{
    color: #fff;
    font-size: 11px;
    top: 33px;
    left: -20px;
    position: relative;
  }

  .labelNumBlu{
    color: #0060B6;
    font-size: 11px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    line-height: 11px;
  }

  .labelNumBla{
    color: #fff;
    font-size: 11px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    line-height: 11px;
    text-align: center;
  }

  .colsInfD{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: lightgray;

  }

  .colsInfI{
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: lightgray;

  }

  .colModoTransporte{
    border-right-width: 3px;
    margin-right: 16px;

  }

  .colCaminar {
    border-right-style:dotted;
    border-right-color: #0060B6;
    border-right-width: 3px;
    margin-right: 16px;
  }

  .colBusComun{
    border-right-style:solid;
    border-right-color:#5db8ff;
    border-right-width: 3px;
    margin-right: 16px;

  }
  .colMetro{
    border-right-style:solid;
    border-right-color:#26285b;
    border-right-width: 3px;
    margin-right: 16px;

  }
  .colMetroPlus{
    border-right-style:solid;
    border-right-color:#3b897f;
    border-right-width: 3px;
    margin-right: 16px;

  }
  .colMetroTranvia{
    border-right-style:solid;
    border-right-color:#4d438a;
    border-right-width: 3px;
    margin-right: 16px;

  }
  .colBusIntegrado{
    border-right-style:solid;
    border-right-color:#3bbe98;
    border-right-width: 3px;
    margin-right: 16px;

  }
  .colMetrocable{
    border-right-style:solid;
    border-right-color:#5d6a9c;
    border-right-width: 3px;
    margin-right: 16px;

  }
  .colEncicla{
    border-right-style:solid;
    border-right-color:#000C93;
    border-right-width: 3px;
    margin-right: 16px;

  }
  .colBorBottom{
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
  }

  .divFoLightG{
    background: #e0e0e0;
  }

  .divFoG{
    background: #6f6f6f;
  }


  .contentWrappers{
    display: flex;
    flex-direction: column;
    max-height: 100px;
    min-height: 80px;
    align-content: center;
    padding: 5px 0px;
    overflow: hidden;
    img{
      width: 3.5rem;
      height: 3.5rem;
      margin: 0px 0px 3px 0px;
      position: relative;
    }
    .imgContainer{
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
    }

    .labelContainer{
      width:100%;
      text-align: center;
      font-size:12px;
      color:white;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }

  .contenedor{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mensajeInfo{
    font-size: 11px !important;
    color: #858585 !important;
    text-align: justify;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 12px;
  }

  .textWrap{
    white-space:normal;
  }

  .tiempoMensajeInfo{
    font-size: 10px !important;
    color: #858585 !important;
    text-align: justify;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 12px;
    margin-top: 5px;
  }


  .separador{

        background-color: lightgrey;
  }

  .iconClima{
    width: 3rem;
    vertical-align: middle;
    position: relative;
    top: -13px;
    left: 20px;
  }

  .labelTitle{
    color: #0060B6;
    font-weight: bold;
    text-align: left;
    margin-left: 9px;
    margin-top: 5px;
  margin-bottom: 4px;
       border-bottom: 1px solid #ccc;

  }

  .headerDetalle{
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
  }

  .labelSalida{
    font-weight: bold;
    font-size: 12px;
  }

  .textoClima{
    font-size: 9px !important;
    color: #858585 !important;
    text-align: left;
    line-height: 12px;
  position: relative;
  white-space:normal;
    top: -12px;
  }

  .colTextSalida{
    border-right-style: solid;
    border-right-width: 1px;
     border-right-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
     border-bottom-color: lightgray;
     padding-top: 3%;
     padding-right: 30px;
     white-space:normal
}

  .colClima{
  border-bottom-style: solid;
    border-bottom-width: 1px;
     border-bottom-color: lightgray;
  }



  .colTextLlegada{
    border-right-style: solid;
    border-right-width: 1px;
     border-right-color: lightgray;
       border-top-style: solid;
    border-top-width: 1px;
     border-top-color: lightgray;
     padding-right: 30px;
     white-space:normal

}

  .labelLlegada{
    color: #0060B6;
       font-weight: bold;
    font-size: 12px;
  }

  .pInforLlegada{
    color:#858585;
    font-size: 11px;
    position: relative;
    left: 31px;
    top: 5px;
  }

  .iconClimaLlegar{
    width: 3rem;
    vertical-align: middle;
    position: relative;
    top: -4px;
    left: 20px;
  }

  .textoClimaLlegar{
    font-size: 9px !important;
    color: #858585 !important;
    text-align: left;
    line-height: 12px;
  position: relative;
    top: -5px;
  }

  .colClimaLlegar{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
  }


  .wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);  
    padding: 10px 0px;
  }

  .itemContent{
    height: 100%;
    min-height: 80px;
    width: calc(100% / 4);
    padding: 4px;
    background: white;
    box-sizing: border-box;
    & .contentWrappers{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:  4px;
    }
  }