ion-header {
    ion-toolbar {
        color: white;
    }
}
ion-content {
    .button{
        min-width: 90%;
        padding: 25px 10px;
        .button-inner {
            justify-content: left;
        }
    }
    .scroll-content {
        margin-top:60px!important;
    }

    
}

