<div id="search" class="search-input-keyword">
  <ion-searchbar class="ion-searchtext" 
                 id="ion-searchtext" 
                 animated="true" 
                 type="search" 
                 clearOnEdit
                 clearInput
                 (ionInput)="onInputSearchChange($event)" 
                 (ionBlur)="onBlurInputSearch()" 
                 (ionFocus)="onFocusInputSearch()" 
                 (keyup.enter)="onEnter()"
                 placeholder="Búsqueda" 
                 id="barra"
                 debounce="250"></ion-searchbar>
</div>
                <!-- [(ngModel)]="inputValue"  -->

<div class="search-input-keyword search-list">
  <ion-list>
      <ion-item 
              *ngFor="let suggestion of suggestions" 
              (mousedown)="onMouseDownApiSuggestion(suggestion)"
              >
          
          <img width="20" height="20" [src]="suggestion.urlIcon">
          
          <label>{{suggestion.description}}<span *ngIf="suggestion.nombreMunicipio">, </span> <span *ngIf="suggestion.nombreMunicipio" class="mayus">{{suggestion.nombreMunicipio}}</span></label>
      </ion-item>
<!-- button ion- -->
      <ion-item 
              *ngFor="let suggestion of googlePlacesSuggestions" 
              (mousedown)="onMouseDownGooglePlacesSuggestion(suggestion.id)">
          
          <img width="20" height="20" src="assets/login/google-plus.svg" [style.background-color]="color">
          
          <label>{{suggestion.description}}</label>
      </ion-item>
  </ion-list>
</div>
