<ion-header text-center>
  <ion-toobar color="primary">
      <ion-buttons slot="end">
          <ion-button icon-only button-toogle (click)="goBack()">
              <ion-icon color="light" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>T&eacute;rminos y condiciones</ion-title>
  </ion-toobar>
</ion-header>


<ion-content padding text-justify>
  <h3>Políticas de Protección de Datos Personales y Seguridad de la Información</h3>
  <h3>Introducción</h3>
  <p>
      De conformidad con la entrada en vigencia de la Ley Estatutaria 1581 de 2012, reglamentada parcialmente por el
      Decreto 1377 de 2013, por la cual se dictan las disposiciones generales para la protección de datos personales,
      tiene por objeto desarrollar el derecho constitucional que tienen todas las personas para conocer, actualizar y
      rectificar la información que se haya recogido sobre ellas en bases de datos o archivos y los demás derechos,
      libertades y garantías constitucionales a que se refiere el artículo 15 de la Constitución Política.

      El Área Metropolitana del Valle de Aburrá, adopta la presente política, teniendo en cuenta su condición de
      responsable del tratamiento de datos de carácter propio que le asiste, se permite formular el presente texto en
      aras de dar efectivo cumplimiento a dicha normatividad y en especial para la atención de PQRSD y reclamos acerca
      del tratamiento de los datos de carácter personal que recoja y maneje.

      El derecho al HÁBEAS DATA, es aquel que tiene toda persona de conocer, actualizar y rectificar la información
      que se haya recogido sobre ella en archivos y bancos de datos de naturaleza pública o privada, garantizándole a
      todos los ciudadanos poder de decisión y control sobre su información personal. Por tanto, el Área Metropolitana
      del Valle de Aburrá, acoge tales disposiciones teniendo en cuenta que para el desarrollo de su objeto social,
      continuamente está recopilando y efectuando diversos tratamientos a las bases de datos de clientes, usuarios,
      proveedores, municipios asociados y funcionarios y contratistas.

      En virtud de lo anterior dentro del deber legal y corporativo la Entidad debe proteger el derecho a la
      privacidad de las personas, así como la facultad de conocer, actualizar o solicitar la información que sobre
      ellas se archive en bases de datos, ha diseñado la presente política de manejo de la información de carácter
      personal y bases de datos en la cual se describe y explica el tratamiento de la Información Personal a la que
      tiene acceso a través de nuestro portal web, correo electrónico, información física, mensajes de texto, mensaje
      de voz, aplicaciones, llamadas telefónicas, cara a cara, y en general a través de todos los medios físicos o
      electrónicos actuales, o que en el futuro se desarrollen, así como por intermedio de terceros que participan en
      nuestras relaciones legales con todos nuestros clientes, usuarios, proveedores, municipios asociados y
      funcionarios y contratistas.

      A la luz de esta política, se entiende de manera general por “Titular” a toda persona natural cuyos datos
      personales son objeto de tratamiento, y específicamente a los clientes, usuarios, proveedores, municipios
      asociados y funcionarios y contratistas.
  </p>

  <h3>1.Política de Protección de Datos Personales</h3>
  <p>
      La presente Política de Protección de Datos Personales, define las condiciones de integridad, confidencialidad,
      disponibilidad, términos, condiciones y finalidades bajo las cuales el Área Metropolitana del Valle de Aburrá,
      entre otras, pero sin limitarse a ello, extracta, guarda, utiliza, circula, suprime y da tratamiento a los datos
      de los usuarios internos y externos. Igualmente establece los procedimientos para que los titulares de los datos
      puedan ejercer los derechos establecidos bajo las leyes de protección de datos personales.
  </p>

  <h3>1.1.Normatividad:</h3>
  <p>
      Ley 1581 de 2012 Por la cual se dictan disposiciones generales para la protección de datos personales.
      Ley 1712 de 2014 Por medio de la cual se crea la Ley de Transparencia y del Derecho de Acceso a la Información
      Pública Nacional y se dictan otras disposiciones.
      Decreto 943 de 2014 Por el cual se actualiza el Modelo Estándar de Control Interno-MECI.
      Decreto 1078 de 2015 Por medio del cual se expide el Decreto Único Reglamentario del Sector de Tecnologías de la
      Información y las Comunicaciones.
      Resolución Metropolitana 741 de 2018. Por medio de la cual se adopta la Política General de Seguridad y
      Privacidad de la Información y se definen lineamientos de principios, ámbito de aplicación y cumplimiento.
  </p>

  <h3>2.Datos generales de la Entidad como responsable del tratamiento de datos personales</h3>
  <p>
      El Área Metropolitana del Valle de Aburrá tiene la calidad de responsable del tratamiento de datos personales,
      razón por la cual, a través de la presente política se permite informar sus datos de identificación:

      Nombre: ÁREA METROPOLITANA DEL VALLE DE ABURRÁ
      NIT: 890.984-423-3
      Dirección: Carrera 53 No. 40A–31 / CP. 050015. Medellín, Antioquia, Colombia
      PBX: (57-4) 385 60 00 Ext. 127
      Línea Gratuita: 01 8000422424
      Portal WEB: <strong>www.metropol.gov.co</strong>

      La Oficina de Atención al Usuario y Gestión Documental es responsable de la recepción de PQRSD, canaliza todas
      las solicitudes a través del Portal Web, el Sistema de Información Metropolitano- SIM, en las taquillas de
      atención, mediante correo electrónico: <strong>atencionausuario@metropol.gov.co</strong> y

      Las respuestas mediante Notificación a través del Portal Web, el Sistema de Información Metropolitano-SIM, en
      las taquillas de atención, carteleras y mediante correo electrónico:
      <strong>notificación.judicial@metropol.gov.co</strong>
  </p>

  <h3>3.Definiciones en el tratamiento de los Datos Personales</h3>
  <p>
      Para la interpretación de la Política de Protección de Datos Personales, se deben tener en cuenta las siguientes
      definiciones:
  </p>

  <p>
      3.1. Autorización: Consentimiento previo, expreso e informado del titular para llevar a cabo el tratamiento de
      datos personales.
      <br>
      3.2. Base de datos: Conjunto organizado de datos personales que es objeto de tratamiento.
      <br>
      3.3. Dato personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales
      determinadas o determinables.
      <br>
      3.4. Encargado del tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con
      otros, realice el tratamiento de datos personales por cuenta del Área Metropolitana del Valle de Aburrá como
      responsable de los datos.
      <br>
      3.5. Responsable del tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio
      con otros, decide sobre la base de datos y/o el tratamiento de los datos. Para efectos de esta política,
      ejercerá como responsable, en principio, el Área Metropolitana del Valle de Aburrá.
      <br>
      3.6. Titular: Persona natural o jurídica cuyos datos personales sean objeto de tratamiento, sea asociado, ex
      asociado, proveedor, empleado y ex empleado o contratista y ex contratista del Área Metropolitana del Valle de
      Aburrá o cualquier tercero que, en razón de una relación contractual o jurídica con el asociado, suministre
      datos personales al Área Metropolitana del Valle de Aburrá.
      <br>
      3.7. Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la
      recolección, almacenamiento, uso, circulación o supresión.
      <br>
      3.8. Aviso de privacidad: Comunicación verbal o escrita generada por el responsable, dirigida al titular para el
      tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de la Política de
      Protección de Datos Personales que le serán aplicables, la forma de acceder a la misma y las finalidades del
      tratamiento que se pretende dar a los datos personales.
      <br>
      3.9. Datos sensibles: Aquellos datos que afectan la intimidad del titular o cuyo uso indebido pueden generar su
      discriminación.
      <br>
  </p>

  <h3>4.Principios rectores para el tratamiento de los Datos Personales</h3>

  <p>
      La Ley 1581 establece en su Artículo 4 los siguientes principios rectores del tratamiento de sus datos
      personales:
      <br>
      4.1. Principio de legalidad:
      El tratamiento de los datos personales es una actividad reglada que debe sujetarse a lo establecido en la Ley
      1581 de 2012, en el Decreto 1377 de 2013 y en las demás disposiciones que las desarrollen.
      <br>
      4.2. Principio de finalidad:
      El tratamiento de los datos personales debe obedecer a una finalidad legítima de acuerdo con la constitución y
      la ley, la cual debe ser informada al titular.
      <br>
      4.3. Principio de libertad:
      El tratamiento de los datos personales sólo puede ejercerse con el consentimiento, previo, expreso e informado
      del titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de
      mandato legal o judicial que releve el consentimiento.
      <br>
      4.4. Principio de veracidad o calidad:
      La información sujeta a tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y comprensible.
      Se prohíbe el tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error.
      <br>
      4.5. Principio de transparencia:
      En el tratamiento debe garantizarse el derecho del titular a obtener del responsable del tratamiento o del
      encargado del tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de
      datos que le conciernan.
      <br>
      4.6. Principio de acceso y circulación restringida:
      El tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las
      disposiciones de la ley y la constitución. En este sentido, el tratamiento sólo podrá hacerse por personas
      autorizadas por el titular y/o por las personas previstas en la ley. Los datos personales, salvo la información
      pública, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que
      el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los titulares o terceros
      autorizados conforme a la ley.
      <br>
      4.7. Principio de seguridad:
      La información sujeta a tratamiento por el responsable del tratamiento o encargado del tratamiento, se deberá
      manejar con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los
      registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
      <br>
      4.8. Principio de confidencialidad:
      Todas las personas que intervengan en el tratamiento de datos personales que no tengan la naturaleza de públicos
      están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con
      alguna de las labores que comprende el tratamiento, pudiendo sólo realizar suministro o comunicación de datos
      personales cuando ello corresponda al desarrollo de las actividades autorizadas en la ley y en los términos de
      la misma.
  </p>

  <h3>5.Población objeto de la Política de Protección de Datos Personales</h3>

  <p>
      La presente Política de Protección de Datos Personales está dirigida a todos los empleados y ex empleados,
      contratistas y ex contratistas del Área Metropolitana del Valle de Aburrá, beneficiarios y/o terceros inscritos,
      proveedores tanto activos como inactivos y empresas que generan un vínculo de asociación con el Área
      Metropolitana del Valle de Aburrá, cuyos datos personales se encuentran incluidos en las bases de datos de la
      entidad.
  </p>

  <h3>6.Recolección de datos personales</h3>

  <p>
      Los datos personales mínimos que el Área Metropolitana del Valle de aburrá solicitará según lo requiera son:

      Dirección de correo electrónico

      Los datos pueden ser recolectados a través de los canales de atención al usuario del Área Metropolitana del
      Valle de Aburrá o cualquiera de sus sedes administrativas, proyectos, como: EnCicla o Banco2 Metropolitano,
      entre otros. Los datos pueden ser recolectados por canales físicos o virtuales.

  </p>

  <h3>7.Autorización del titular para el tratamiento de datos personales</h3>

  <p>
      De acuerdo al Artículo 5 del Decreto 1377, queremos informarle que el Área Metropolitana del Valle de Aburrá
      como responsable del tratamiento de sus datos, ha incluido en los formatos de inscripción y actualización de
      datos, un espacio para su autorización del tratamiento de los mismos e informarle cuáles son los datos
      personales que serán recolectados, así como todas las finalidades específicas del tratamiento para las cuales se
      obtiene su consentimiento.

      Los datos personales que se encuentren en fuentes de acceso público, con independencia del medio por el cual se
      tenga acceso, entendiéndose por tales, aquellos datos o bases de datos que se encuentren a disposición del
      público, pueden ser tratados por el Área Metropolitana del Valle de Aburrá, siempre y cuando, por su naturaleza,
      sean datos públicos.

      Se entenderá que la autorización otorgada por el titular al Área Metropolitana del Valle de Aburrá, cumple con
      los requisitos exigidos en la legislación vigente aplicable, cuando ésta se manifieste de las siguientes formas:
      <br>
      •Por escrito
      <br>
      •De forma oral
      <br>
      •Mediante conductas inequívocas del titular que permitan concluir de forma razonable que éste otorgó al Área
      Metropolitana del Valle de Aburrá la autorización respectiva.
      <br>

      Finalmente, tenga en cuenta que el Área Metropolitana del Valle de Aburrá ha establecido los canales de atención
      al usuario, para que usted, como titular de sus datos, pueda en todo momento solicitarle como responsable del
      tratamiento, la supresión de sus datos personales y/o revocar la autorización que nos ha otorgado para el
      tratamiento de los mismos.
  </p>

  <h3>8.Autorización del titular para el tratamiento de datos sensibles</h3>

  <p>
      De acuerdo al Artículo 5° de la Ley 1581 se entiende por datos sensibles aquellos que afectan la intimidad del
      Titular o cuyo uso indebido puede generar su discriminación. El Área Metropolitana del Valle de Aburrá, como
      empresa de la economía solidaria, no solicita actualmente datos que revelen el origen racial o étnico, la
      orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones
      sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los
      derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida
      sexual y los datos biométricos.

      Por tanto, le informamos que el tratamiento de los datos sensibles a los cuales se refieren los Artículo 6° de
      la Ley 1581 de 2012 está prohibido, a excepción de los siguientes casos:
      <br>

      a)Cuando el titular haya dado su autorización explícita a dicho tratamiento, salvo en los casos que por ley no
      sea requerido el otorgamiento de dicha autorización.
      <br>
      b)Cuando el tratamiento sea necesario para salvaguardar el interés vital del titular y éste se encuentre física
      o jurídicamente incapacitado. En estos eventos, los representantes legales deberán otorgar su autorización.
      <br>
      c)Cuando el tratamiento sea efectuado en el curso de las actividades legítimas y con las debidas garantías por
      parte de una fundación, ONG, asociación o cualquier otro organismo sin ánimo de lucro, cuya finalidad sea
      política, filosófica, religiosa o sindical, siempre que se refieran exclusivamente a sus miembros o a las
      personas que mantengan contactos regulares por razón de su finalidad. En estos eventos, los datos no se podrán
      suministrar a terceros sin la autorización del titular.
      <br>
      d)Cuando el tratamiento se refiera a datos que sean necesarios para el reconocimiento, ejercicio o defensa de un
      derecho en un proceso judicial.
      <br>
      e)Cuando el tratamiento tenga una finalidad histórica, estadística o científica. En este evento deberán
      adoptarse las medidas conducentes a la supresión de identidad de los titulares.
      Para el tratamiento de datos personales sensibles, cuando dicho tratamiento sea posible conforme a lo
      establecido en el Artículo 6 de la Ley 1581 de 2012, el Área Metropolitana del Valle de Aburrá se obliga a
      informar al titular que por tratarse de datos sensibles no está obligado a autorizar su tratamiento.
      <br>

      De acuerdo a las actividades que realiza el Área Metropolitana del Valle de Aburrá, ninguna de estas estará
      condicionada a que usted como titular suministre sus datos personales sensibles.
  </p>

  <h3>9.Datos de niños, niñas y adolescentes menores de 18 años</h3>

  <p>
      EL Área Metropolitana del Valle de Aburrá velará por el uso adecuado de los datos personales de los niños, niñas
      y adolescentes menores de 18 años, buscando que se respeten en su tratamiento el interés superior de aquellos,
      en aras del respeto a sus derechos fundamentales y en lo posible, teniendo en cuenta su opinión, como titulares
      de sus datos personales. Por lo tanto, si un usuario suministra datos de tal forma que se pueda identificar que
      estos datos corresponden a un menor de 18 años, el Área Metropolitana del Valle de Aburrá, actuará conforme a lo
      aquí expresado para tratar dichos datos y dentro de los parámetros de la ley.
  </p>

  <h3>10.Uso y finalidad del tratamiento de datos personales</h3>

  <p>
      El Área Metropolitana del Valle de Aburrá como entidad respetuosa de la privacidad de las personas, reconoce que
      usted como titular de los datos personales tiene derecho a contar con elementos adecuados que garanticen la
      misma, teniendo en todo caso para ello en cuenta sus responsabilidades, derechos y obligaciones con la Entidad.

      En virtud de la relación que se ha establecido o establezca entre usted y el Área Metropolitana del Valle de
      Aburrá, es importante que usted conozca que la Entidad recolecta, registra, almacena, usa y transfiere sus datos
      personales, para su propio uso en sus procesos o para reportar a otras entidades de acuerdo a la ley 1581 de
      2012.

      Es importante que usted tenga en cuenta que su información o datos personales son utilizados por la Entidad
      para:
      <br>
      a) Ejecutar las actividades propias del Área Metropolitana del Valle de Aburrá otorgadas por la ley para cumplir
      su objeto social.
      <br>
      b) Enviar y recibir mensajes con fines informativos, de difusión y/o de atención al ciudadano.
      <br>
      c) Ofrecer a los ciudadanos productos y/o servicios que buscan satisfacer sus necesidades, los cuales pueden
      hacerse por medios físicos, a través de correos electrónicos, portal web y/o terminales móviles.
      <br>
      d) Solicitar actualización de datos personales.
      <br>
      e) Tramitar las PQRSDF de manera efectiva.
      <br>
      f) Realizar encuestas para medir la calidad de los servicios prestados.
      <br>
      g) Registrar la información de funcionarios y proveedores (activos e inactivos) en las bases de datos de la
      Entidad, para el envío de información contractual, laboral y demás a que hubiere lugar.
      <br>
      h) Análisis estadístico del Valle de Aburrá.
      <br>
      i) Enviar la información a entidades gubernamentales, públicas o privadas por solicitud expresa de las mismas o
      por exigencia legal.
      <br>
      j) Soportar procesos de auditoría externa e interna.
      <br>
      k) La realización de cobranza judicial y extrajudicial en los casos permitidos por los estatutos y reglamentos
      del Área Metropolitana del Valle de Aburrá.
      <br>
      l) Cualquier otra finalidad que resulte en el desarrollo de la relación que existe entre usted y el Área
      Metropolitana del Valle de Aburrá. Si usted nos proporciona sus datos personales, esta información será
      utilizada sólo para los propósitos aquí señalados, por tanto, no procederemos a vender, licenciar, transmitir o
      divulgar la misma, fuera de la entidad, salvo que:
      <br>
      ⋅ Usted nos autorice expresamente a hacerlo
      <br>
      ⋅ Sea necesario hacerlo para permitir a algunos proveedores prestarle los servicios que les hemos encomendado
      <br>
      ⋅ Sea necesario hacerlo con el fin de proporcionarle nuestros productos o servicios
      <br>
      ⋅ Sea necesario divulgar a las entidades que prestan servicios de marketing en nuestro nombre o a otras
      entidades con las cuales tenemos acuerdos de mercadeo conjunto
      <br>
      ⋅ Sea requerido o permitido por la Ley.
      <br>
      En consecuencia y para el manejo interno de sus datos en la Entidad, éstos podrán ser divulgados con los fines
      dispuestos anteriormente a los funcionarios y a proveedores de servicios según corresponda.

      El Área Metropolitana del Valle de Aburrá podrá contratar a terceros prestadores de servicios para el
      procesamiento de determinadas funciones o información, advertimos a dichos terceros sobre la necesidad de
      proteger la información personal con medidas de seguridad apropiadas, les prohibimos el uso de su información
      personal para fines propios y les impedimos que divulguen su información personal a otros.

      Adicionalmente, le informamos que una vez cese la necesidad de tratamiento de sus datos, los mismos podrán ser
      eliminados de las bases de datos del Área Metropolitana del Valle de Aburrá o archivados en términos seguros a
      efectos de que solamente sean divulgados cuando a ello hubiere lugar de acuerdo con la Ley.
  </p>

  <h3>11.Revocatoria de la autorización y/o supresión de los datos personales</h3>

  <p>
      De acuerdo al Artículo 8 del Decreto 1377, usted como titular de sus datos, a través del correo indicado en los
      datos generales del Área Metropolitana del Valle de Aburrá, podrá en todo momento, solicitar la supresión de sus
      datos personales y/o revocar la autorización que nos ha otorgado para el tratamiento de los mismos, mediante la
      presentación de un reclamo, de acuerdo con lo establecido en el Artículo 15 de la Ley 1581 de 2012.

      Sin embargo, es importante que tenga en cuenta que su solicitud de supresión de la información y la revocatoria
      de la autorización no procederá cuando como titular de los datos usted tenga un deber legal o contractual en
      virtud del cual deba permanecer en la base de datos del Área Metropolitana del Valle de Aburrá.

      Si vencido el término legal respectivo, el Área Metropolitana del Valle de Aburrá como responsable no elimina
      sus datos personales de sus bases de datos, usted tendrá derecho a solicitar a la Superintendencia de Industria
      y Comercio que ordene la revocatoria de la autorización y/o la supresión de los datos personales. Para estos
      efectos se aplicará el procedimiento descrito en el Artículo 22 de la Ley 1581 de 2012.

      Finalmente, es importante resaltar que sus datos personales serán conservados en las bases de datos del Área
      Metropolitana del Valle de Aburrá cuando así se requiera en cumplimiento de una obligación legal o contractual.
  </p>

  <h3>12.En Derechos de los titulares de los datos</h3>

  <p>

      La Ley 1581 de 2012, en su Artículo 8, establece los siguientes derechos que tiene usted como titular en
      relación con sus datos personales:
      <br>
      a) Conocer, actualizar y rectificar sus datos personales frente a los responsables del tratamiento o encargados
      del tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos,
      fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté expresamente prohibido o no haya sido
      autorizado.
      <br>
      b) Solicitar prueba de la autorización otorgada al responsable del tratamiento salvo cuando expresamente se
      exceptúa como requisito para el tratamiento.
      <br>
      c) Ser informado por el responsable del tratamiento o el encargado del tratamiento, previa solicitud, respecto
      del uso que se les ha dado a sus datos personales.
      <br>
      d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley
      1581 de 2012 y en las demás normas que la modifiquen, adicionen o complementen.
      <br>
      e) Revocar la autorización y/o solicitar la supresión de los datos cuando en el tratamiento no se respeten los
      principios, derechos y garantías constitucionales y legales.
      <br>
      f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de tratamiento.
  </p>

  <h3>13.Ejercicio de sus derechos como titular de datos</h3>

  <p>
      Según el Artículo 20 del Decreto 1377, los derechos de los titulares establecidos en la Ley 1581, podrán ser
      ejercidos ante el Área Metropolitana del Valle de Aburrá por las siguientes personas:
      <br>
      a)Por el titular de los datos, quien deberá acreditar ante el Área Metropolitana del Valle de Aburrá su
      identidad en forma suficiente.
      <br>
      b)Por los causahabientes del titular de los datos, quienes deberán acreditar tal calidad ante el Área
      Metropolitana del Valle de Aburrá.
      <br>
      c)Por el representante y/o apoderado del titular de los datos, previa acreditación ante el Área Metropolitana
      del Valle de Aburrá de la representación o apoderamiento.
      <br>
      d)Por estipulación a favor de otro o para otro.
      <br>
      De acuerdo con lo previsto en la Ley 1581, en sus Artículos 14 y 15, para el ejercicio de cualquiera de los
      derechos que le asisten como Titular de los datos, usted podrá utilizar ante el Área Metropolitana del Valle de
      Aburrá cualquiera de los mecanismos que se establecen en los procedimientos que a continuación se relatan:

  </p>

  <h3>14.Procedimientos de Protección de Datos Personales</h3>

  <h3>14.1.Consultas:</h3>

  <p>
      1.Los titulares o sus causahabientes podrán consultar la información personal del titular que repose en las
      bases de datos del Área Metropolitana del Valle de Aburrá.
      <br>
      2.El Área Metropolitana del Valle de Aburrá como responsable del tratamiento suministrará a los titulares o sus
      causahabientes, la información solicitada que se encuentre contenida en el registro individual o que esté
      vinculada con la identificación del titular.
      <br>
      3.La consulta se formulará a través de los canales que para dicho efecto han sido habilitados por el Área
      Metropolitana del Valle de Aburrá.
      <br>
      4.La consulta será atendida por el Área Metropolitana del Valle de Aburrá en un término máximo de diez (10) días
      hábiles contados a partir de la fecha de recibo de la misma.
      <br>
      5.Cuando no fuere posible para el Área Metropolitana del Valle de Aburrá atender la consulta dentro de dicho
      término, le informará al interesado, expresando los motivos de la demora y señalando la fecha en que atenderá su
      consulta, la cual en ningún caso superará los cinco (5) días hábiles siguientes al vencimiento del primer
      término.
  </p>

  <h3>14.2.Reclamos:</h3>

  <p>
      El titular o sus causahabientes que consideren que la información que se encuentra contenida en las bases de
      datos del Área Metropolitana del Valle de Aburrá debe ser objeto de corrección, actualización o supresión, o
      cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en la Ley, podrán presentar
      un reclamo ante el Área Metropolitana del Valle de Aburrá como responsable del tratamiento, el cual será
      tramitado bajo las siguientes reglas:
      <br>
      1.El reclamo se formulará mediante solicitud escrita dirigida al Área Metropolitana del Valle de Aburrá, con la
      identificación del titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y los soportes
      correspondientes.
      <br>
      2.Al reclamo deberá adjuntarse fotocopia del documento de identificación del titular de los datos.
      <br>
      3.El reclamo se formulará a través de los canales que para dicho efecto han sido habilitados por el Área
      Metropolitana del Valle de Aburrá.
      <br>
      4.Si el reclamo resulta incompleto, el Área Metropolitana del Valle de Aburrá requerirá al interesado dentro de
      los cinco (5) días hábiles siguientes a la recepción del reclamo para que subsane las fallas.
      <br>
      5.Transcurridos dos (2) meses desde la fecha del requerimiento realizado por el Área Metropolitana del Valle de
      Aburrá, sin que el solicitante presente la información requerida, se entenderá que se ha desistido del reclamo.
      <br>
      6.En caso que quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda en un
      término máximo de dos (2) días hábiles e informará de la situación al interesado.
      <br>
      7.Una vez el Área Metropolitana del Valle de Aburrá reciba el reclamo completo, incluirá en la base de datos una
      leyenda que indique: "reclamo en trámite" y el motivo del mismo, en un término no mayor a dos (2) días hábiles.
      Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.
      <br>
      8.El término máximo para atender el reclamo por parte del Área Metropolitana del Valle de Aburrá será de quince
      (15) días hábiles contados a partir del día siguiente a la fecha de su recibo.
      <br>
      9.Cuando no fuere posible para el Área Metropolitana del Valle de Aburrá atender el reclamo dentro de dicho
      término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual
      en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
  </p>

  <h3>15.Canales Habilitados:</h3>

  <p>
      Los derechos de los titulares podrán ser ejercidos por las personas antes señaladas a través de los canales de
      atención al usuario que han sido habilitados por el Área Metropolitana del Valle de Aburrá para dicho efecto,
      los cuales se encuentran a su disposición de forma gratuita, así:
      <br>
      Dirección: Carrera 53 No. 40A–31 / CP. 050015. Medellín, Antioquia, Colombia
      <br>
      PBX: (57-4) 385 60 00 Ext. 127
      <br>
      Línea Gratuita: 01 8000422424
      <br>
      Portal WEB: <strong>www.metropol.gov.co</strong>
      <br>
      A través de la dirección de correo electrónico: <strong>atencionausuario@metropol.gov.co</strong>
      <br>
      Horario de atención: de lunes a viernes de 08:00 a.m. a 05:30 p.m.
  </p>

  <h3>16.Deberes de Área Metropolitana del Valle de Aburrá como responsable del tratamiento</h3>

  <p>
      El Artículo 17 de la Ley 1581, establece los siguientes deberes para el Área Metropolitana del Valle de Aburrá,
      como responsable del tratamiento de sus datos personales:
      <br>
      a)Establecer las políticas, procedimientos y controles necesarios para la adecuada administración de la
      información, así como para su oportuna actualización.
      <br>
      b)Permitir y garantizar el acceso a la información únicamente a los titulares, usuarios, personal autorizado y a
      las autoridades en ejercicio de sus funciones legales o constitucionales.
      <br>
      c)Garantizar al titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
      <br>
      d)Solicitar y conservar, en las condiciones previstas en la Ley, copia de la respectiva autorización otorgada
      por el titular.
      <br>
      e)Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten por virtud
      de la autorización otorgada.
      <br>
      f)Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida,
      consulta, uso o acceso no autorizado o fraudulento.
      <br>
      g)Garantizar que la información que se suministre al encargado del tratamiento sea veraz, completa, exacta,
      actualizada, comprobable y comprensible.
      <br>
      h)Actualizar la información, comunicando de forma oportuna al encargado del tratamiento, todas las novedades
      respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la
      información suministrada a éste se mantenga actualizada.
      <br>
      i)Rectificar la información cuando sea incorrecta y comunicar lo pertinente al encargado del tratamiento.
      <br>
      j)Suministrar al encargado del tratamiento, según el caso, únicamente datos cuyo tratamiento esté previamente
      autorizado de conformidad con lo previsto en la ley.
      <br>
      k)Exigir al encargado del tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de
      la información del titular.
      <br>
      l)Tramitar las consultas y reclamos formulados en los términos señalados en la Ley.
      <br>
      m)Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la ley y
      en especial, para la atención de consultas y reclamos.
      <br>
      n)Informar al encargado del tratamiento cuando determinada información se encuentra en discusión por parte del
      titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo
      <br>
      o)Informar a solicitud del titular sobre el uso dado a sus datos
      <br>
      p)Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y
      existan riesgos en la administración de la información de los titulares.
      <br>
      q)Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.
  </p>

  <h3>17.Transacciones de pago</h3>
  <p>
      Para garantizar la protección de privacidad y confidencialidad de la información, los canales digitales del Área
      Metropolitana del Valle de Aburrá han adoptado todos los medios, buenas prácticas y medidas técnicas a su
      alcance para asegurar la transmisión de la información a las bases de datos y así evitar la alteración, pérdida,
      mal uso, acceso no autorizado y robo de los datos personales facilitados por los usuarios para los fines arriba
      expresados. No obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son
      infalibles. La información que ingresada en los canales digitales se mantiene de forma estrictamente
      confidencial y no es compartida con terceros distintos a los indicados en esta Política de Protección de Datos
      Personales. Los datos serán encriptados para proveer la mayor seguridad posible. Las transacciones de pago en la
      Aplicación están aseguradas por una plataforma certificada, para asegurar la protección, confidencialidad e
      integridad de los datos. Esta certificación se otorga a las franquicias de tarjetas de crédito como Visa,
      Mastercard y American Express, entre otras. El Área Metropolitana del Valle de Aburrá conservará, bajo las
      condiciones de seguridad y confidencialidad aquí descritos, y para las finalidades señaladas en este documento,
      los datos personales durante todo el tiempo de ejecución de cada tramite, servicio, PQRSDF entre el Área
      Metropolitana del Valle de Aburra y sus usuarios y por diez (10) años más.
  </p>

  <h3>18.Seguridad de la información del portal web</h3>

  <p>
      El Área Metropolitana del Valle de Aburrá a través de su portal web www.metropol.gov.co tiene por finalidad de
      brindar a usuarios internos y externos todo tipo de información referente a gestión, temas y funciones que
      corresponden a su objeto social, y, en general, información relacionada sobre el Área metropolitana.

      Respecto a los contenidos publicados en el portal web, El Área Metropolitana del Valle de Aburrá en ningún
      momento busca un lucro, ganancia o interés comercial con ello. Igualmente es aplicable con los enlaces que se
      publican y con las páginas web de otras dependencias o entidades adscritas y/o vinculadas, a los cuales se
      ingresa por medio de www.metropol.gov.co

      La Aplicación contiene enlaces a otros sitios web propiedad de otras entidades, personas u organizaciones
      diferentes al Área Metropolitana del Valle de Aburrá. En cuanto el usuario acceda a dichos links externos estará
      sometido a los términos y condiciones de uso del portal web al que envía el link. Además, el establecimiento de
      un enlace que lleve a una Aplicación externa ya sea de otra entidad, una persona, un programa o una empresa, no
      implica necesariamente la existencia de relaciones entre el Área Metropolitana del Valle del Aburra y el
      propietario de la Aplicación que se enlaza.

      Los contenidos almacenados en www.metropol.gov.co son de propiedad del Área Metropolitana del Valle de Aburrá,
      el material puede ser descargado para uso diferente del comercial, siempre y cuando se haga expresa mención de
      la propiedad a cargo del Área Metropolitana del Valle de Aburrá. En este sentido la entidad no será responsable
      por el uso indebido que hagan los usuarios de dichos contenidos de la Aplicación.

      Frente al uso del portal web, los usuarios se comprometen con:
      <br>

      a)No suprimir, eludir, o manipular el copyright (derechos de autor) del contenido alojado en el portal web.
      <br>
      b)No alterar, bloquear o realizará cualquier otro acto que impida mostrar o acceder a cualquier contenido,
      información o servicios de la Aplicación.
      <br>
      c)Se harán responsables por cualquier uso indebido, ilícito o anormal que hagan de los contenidos, información o
      servicios de la Aplicación.
      <br>
      d)Usar los contenidos de forma correcta y lícita.
      <br>
      e)No atentar de ninguna manera contra el portal web, contra su plataforma tecnológica, contra sus sistemas de
      información ni tampoco interferir en su normal funcionamiento.
      <br>
      f)No enviar o transmitir en este portal web o hacia el mismo, a otros usuarios o a cualquier persona, cualquier
      información de alcance obsceno, difamatorio, injuriante, calumniante o discriminatorio contra el Área
      Metropolitana del Valle de Aburrá, contra sus funcionarios o contra los responsables de la administración del
      portal web.
  </p>

  <h3>19.Modificación de la política</h3>

  <p>
      El Área Metropolitana del Valle de Aburrá se reserva el derecho de modificar esta Política de Protección de
      Datos Personales y seguridad de la información del portal web en cualquier momento. Cualquier cambio será
      informado y publicado oportunamente en el portal web www.metropol.gov.co

      Le informamos que de haber cambios sustanciales en el contenido de esta Política de Protección de Datos
      Personales y seguridad de la información del portal web, referidos a la identificación del responsable y a la
      finalidad del tratamiento de sus datos personales, los cuales puedan afectar el contenido de la autorización que
      usted ha otorgado al Área Metropolitana del Valle de Aburrá, la entidad como responsable del tratamiento le
      comunicará estos cambios antes de o a más tardar al momento de la implementación​ de la nueva política.

      Además, cuando el cambio se refiera a la finalidad del tratamiento de sus datos personales, el Área
      Metropolitana del Valle de Aburrá obtendrá una nueva autorización de su parte. Para ello hemos dispuesto en
      nuestro portal web www.metropol.gov.co una sección en donde podrá consultar la última versión de esta política.
  </p>

  <p>La presente política se adopta mediante la Resolución Metropolitana Número 156 del 30 de enero de 2019​.
  </p>
  <br>
</ion-content>


<ion-footer class="footerPage">
  <ion-toolbar>
      <ion-button block (click)="closeModal(true)" class="buttons" text-capitalize>Aceptar</ion-button>
      <!-- <button ion-button block color="light" (click)="closeModal(false)" class="buttons">Cancelar</button> -->
  </ion-toolbar>
</ion-footer>
