mapa {
    #map {
        width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{
        opacity: 1;
        }
    }
}
#googleMap {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*style the p tag*/
.gm-style .gm-style-iw #google-popup p {
    padding: .10px;
}
/*style the link*/
.gm-style div div div div div div div div a {
    color: black;
    font-weight: bold;
}
.labelInfoImp {
    font-size: 12px;
    color: #006FAC;
    font-weight: bold;
}
.parrInfoGen {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.gm-style>div:first-child>div:last-child>div>div:last-child>div:last-child {
    height: 20rem!important;
}