<ion-row class="header">
  <ion-col>
    <p>Especie sugerida</p>
  </ion-col>
  <ion-col>
    <ion-button
      class="button-seleccionar"
      expand="block"
      (click)="seleccionar(especieSugeridaIA)"
    >
      Seleccionar
    </ion-button>
  </ion-col>
</ion-row>
<ion-row class="container-custom">
  <ion-col size="4">
    <img
      [src]="'data:image/jpeg;base64,' + especieSugeridaIA?.Imagen.Foto"
      alt=""
      srcset=""
    />
  </ion-col>
  <ion-col size="8">
    <span>Nombre común:</span>
    <br />
    {{ especieSugeridaIA?.Imagen.NombreComun }}<br />
    <span>Nombre científico:</span>
    <br />
    {{ especieSugeridaIA?.Imagen.NombreCientifico }}
  </ion-col>
</ion-row>
