.toolbar-background {
    background: inherit;
}
.title-up, .text-up {
    text-align:center;
}
.title-up{
    font-weight:400;
}
.text-up {
    color:#777777;
}
.toolbar-title,
.back-button .button-inner {
    color: var(--ion-color-light);
}
.banner {
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 4rem;
}
.round-icon {
    margin: -4rem auto 0;
    width: 6rem;
    height: 5rem;
    border-radius: 100%;
    text-align: center;
    img {
        width: 4.5rem;
    }
}
.swiper-slide {
    img {
        width: 30rem;
        height: auto;
    }
}
.swiper-pagination-bullet-active{
    background: var(--ion-color-primary);
}
/*test display image claudia ariza*/
.arbol-cont {
    .ionic-button {
        display:inline-block;
        padding:0px;
        border-style:solid;
        border-width: 4px;
        border-radius: 4px;
        margin:5px 4px;
        color: #ffffff;
        width: calc(50% - 11px);
        font-weight:bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        img {
            // width:300px;
            width:auto;
            height: auto;
            // height:45vw;
            background:#ffffff;
        }
        p {
            color:#ffffff;
            overflow: hidden;
            max-width: 100%;
            width:100%;
            margin-left:5px;
        }
    }
}
.atras-link {
    height: 25px;
    margin-top: -7px;
    p{
        padding:0;
        font-weight:bold;
        text-decoration: underline;
        text-align:justify;
        color:#222222;
    }
}
h4.titulo {
    color:var(--ion-color-Asómbrate);
    font-weight:400;
}
.nombre-cien {
    color:#777777;
    font-style:italic;
}
.last-specie, .last-specie.ionic-button{
    width: 300px;
    margin:5px;
    margin-left: calc(50vw - 165px);
    background: transparent;
    border:none;
    position:relative;
    img, video {
        // width:300px;
        width:auto;
        // max-height:150px;
        margin-top:10px;
        min-height: 150px;
        // min-height: 150px;
    }
    audio {
        max-height:100px;
        margin-top:20px;
    }
    p {
        color:#999;
        text-align:justify;
        margin:15px 0;
    }
    button{
        padding: 10px;
        position: absolute;
        right: 0;
        top: 11px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }
    .titulo {
        font-weight:bold;
        color:var(--ion-color-Asómbrate);
        max-width: 75%;
    }
}
.toolbar-title {
    color: var(--ion-color-light);
    margin-right: 30px;
    text-transform:uppercase;
    text-align: center;
    padding: 0;
}