/*general-configuration {
}*/
.divConfiguration {
  background: #1B6893;
  height: 100px;

  .title-configuration {
    margin-left: 35px;
  }

  .lblVolver {
    font-size: smaller;
    margin-top: 25px;
    margin-left: 25px;
  }
}

.cerrarSesion {
  color: #1B6893;
}
