<ion-header>
  <ion-toolbar color="primary" style="background-color: var(--ion-color-primary);">
      <ion-title>Actualizar Contraseña</ion-title>
      <ion-buttons slot="start">
          <ion-button button-toggle (click)="goBack()"icon-only>
            <ion-icon color="light" style="background-color: #f4f4f4;"
                       name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" style="text-align: center" padding>
      <ion-spinner style="vertical-align: middle"></ion-spinner>
      <span style="color: #444444; font-size: 1.4rem;">Cargando informaci&oacute;n ...</span>
  </div>

  <form *ngIf="!loading" [formGroup]="formGroup" (ngSubmit)="updatePassword()">
      <ion-list>
          <ion-item>
              <i class="fas fa-lock fa-lg fa-fw" item-left></i>
              <ion-label stacked>Contrase&ntilde;a Actual</ion-label>
              <ion-input formControlName="currentPassword" type="password"></ion-input>
          </ion-item>

          <ion-item *ngIf="formGroup.get('currentPassword').errors && formGroup.get('currentPassword').dirty">
              <p color="danger" ion-text *ngIf="formGroup.get('currentPassword').hasError('required')">Campo requerido</p>
              <p color="danger" ion-text *ngIf="formGroup.get('currentPassword').hasError('minlength')">Mínimo 8 caracteres</p>
              <p color="danger" ion-text *ngIf="formGroup.get('currentPassword').hasError('maxlength')">Máximo 255
                  caracteres</p>
          </ion-item>

          <div formGroupName="matchingPasswords">
              <ion-item>
                  <i class="fas fa-lock fa-lg fa-fw" item-left></i>
                  <ion-label stacked>Nueva Contrase&ntilde;a</ion-label>
                  <ion-input formControlName="password" type="password"></ion-input>
              </ion-item>

              <ion-item *ngIf="formGroup.get('matchingPasswords').get('password').errors && formGroup.get('matchingPasswords').get('password').dirty">
                  <p color="danger" ion-text *ngIf="formGroup.get('matchingPasswords').get('password').hasError('required')">Campo requerido</p>
                  <p color="danger" ion-text *ngIf="formGroup.get('matchingPasswords').get('password').hasError('minlength')">Mínimo 8
                      caracteres</p>
                  <p color="danger" ion-text *ngIf="formGroup.get('matchingPasswords').get('password').hasError('maxlength')">Máximo 255
                      caracteres</p>
              </ion-item>

              <ion-item>
                  <i class="fas fa-lock fa-lg fa-fw" item-left></i>
                  <ion-label stacked>Confirmar Nueva Contrase&ntilde;a</ion-label>
                  <ion-input formControlName="passwordConfirmation" type="password"></ion-input>
              </ion-item>

              <div *ngIf="formGroup.get('matchingPasswords').get('passwordConfirmation').errors && formGroup.get('matchingPasswords').get('passwordConfirmation').dirty">
                  <p color="danger"  style="margin-left: 10px;" ion-text *ngIf="formGroup.get('matchingPasswords').get('passwordConfirmation').hasError('matchValidator')">
                      Las contraseñas no son iguales</p>
              </div>
          </div>
      </ion-list>
      <ion-buttons slot="end">
          <ion-button block color="light"  style="background-color:#96c93d;" 
                   type="submit" [disabled]="!formGroup.valid">
              Actualizar
          </ion-button>
      </ion-buttons>
  </form>
</ion-content>
